[submodule "account-service"]
	path = account-service
	url = https://github.com/insper-joaoamiguel/account-service
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/insper-joaoamiguel/account-service
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/insper-joaoamiguel/auth-service
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/insper-joaoamiguel/gateway-service
[submodule "api/product-service"]
	path = api/product-service
	url = https://github.com/insper-joaoamiguel/product-service
[submodule "api/exchange"]
	path = api/exchange
	url = https://github.com/insper-joaoamiguel/exchange
[submodule "api/account"]
	path = api/account
	url = https://github.com/insper-joaoamiguel/account
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/insper-joaoamiguel/auth
